<div class = 'footer-inner'>
  <!-- <div id = 'to-top'></div> -->
  <p>copyright &copy; | 2018 | Hong & Gezel | All rights Reserved 
  <br>IN SAMEN'WERKING MET <b>ORLANE DE MEYERE EN ARTEVELDEHOGESCHOOL</b></p>
  <p>ACEDEMIEJAAR 2017 - 2018 <br><small>WWW.HOND-EN-GEZEL.BE</small></p>
  <p></p>
  <div class = 'center'>
    <img src = '{{site.baseurl}}/assets/images/location.png' alt = 'icon'> <span class = 'large'>:</span>
    <img src = '{{site.baseurl}}/assets/images/onjuist2.png' alt = 'icon'>
  </div>
</div>
