<footer class="container-fluid bh-absolute-bottom">
    <div class="row midden">
        <div class="col">
            <p>
            © 2018 Alle Rechten Voorbehouden | VZW Hond en Gezel <br>
            In samenwerking met Orlane De Meyere en Arteveldehogeschool Mariakerke<br>
            Academiejaar 2017 - 2018 
             </p>
             <img src="/1718-3CMO-BaP-orlademe/images/logo_transparant.png" class="footer-logo-vzw">
             <img src="/1718-3CMO-BaP-orlademe/images/AHS.png" class="footer-logo-ahs">
        </div>
        
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>