body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
main{
  flex: 1;
  padding: 80px 0 0;
  .container{
    padding: 25px 25px 60px;
  }
}
.content{
  @include viewport(960px);
}

.hero{
  height: 100vh;
  width: 100%;
  background-color: $dark;
  background-repeat:no-repeat;
  // background-size: 100% 100%;
  background-position: center;
}
.footer {
  background: $mute;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  &-inner{
    @include viewport;
  }
}

.thumbnail{
  margin-right: $padding;
  text-align: center;
  min-height: 140px;
  img{
    width: 50%;
  }
  &-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    &-left {
      justify-content: flex-start;
    }
  }
  &-inner{
    min-height: 140px;
  }
  @media screen and (min-width: $s-breakpoint) {
    width: 47%;
  }
  @media screen and (min-width: $m-breakpoint) {
    width:23%;
  }
}

.font{
  margin-right: 10px;
  h3,h4,p {
    font-weight: inherit;
  }
  &-container{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
  }
  &-footer,
  &-inner{
    padding: 20px $padding;
    padding: 20px $padding;
  }

  @media screen and (min-width: $s-breakpoint) {
    width: 47%;
  }
  @media screen and (min-width: $m-breakpoint) {
    width:23%;
  }
  @for $i from 1 through 7 {
    // left and right margins
    $j : ($i + 1);
    &-#{$i} {
      font-weight: $j * 100;
    }
  }

}

.dosis:last-child{
  .footer-inner{
    background: lighten($dark,30%);
  }
}