.header{
  background:$primary-color;
  position: fixed;
  width: 100%;
  z-index: 9999;
  a,a:hover{
    border: none;
  }
  &-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include viewport;
  }
}
.logo{
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  flex-direction: row;
  align-items: center;
  width:100%;
  &-image{
    max-width: 45px;
    padding: 10px 0;
  }
  @media screen and (min-width: 769px)  {
    width:auto
  }
}
.nav{
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s forwards;
  padding-top: 60px;
  align-items: center;
  &-item{
    margin: 20px auto;
    border: none;
    padding: $padding $padding*1.2;
    text-align: center;
    color:$light;
    font-size: 1.25rem;
    &:active{
      background: transparent;
    }
    &:first-of-type{
      margin-top: 100px;
    }
    @media screen and (min-width:769px) {
      &,
      &:first-of-type{
        margin:0;
      }
    }
    &-active{
      position: relative;
      // 
    }

  }
  &-open{
    width:100%;
    background: $primary-color;
  }
  @media screen and (min-width:769px) {
    position: relative;
    flex-flow: row wrap;
    justify-content: space-between;
    width:67%;
    padding-right: 25px;
    padding-top: 0;
    height: auto;
  }
}

.toggle{
  color: $light;
  @media screen and (min-width: 769px) {
    display: none;
  }
}
