// Color system

$primary-color: #F8AE3B;
$secondary-color: #24292e;
$light: #fff;
$mute: darken($light, 3%);
$dark: $secondary-color;


// font,  sizes and weights

$font-family: 'Dosis', sans-serif;

$font-base: 16px;
$line-height: 1.6em;
$font-normal: 400;
$font-light: 200;
$font-bold: 800;

$padding: 10px;

$max-width: 1280px;


$m-breakpoint:  769px;
$s-breakpoint:  567px;

// utilities
.colored, .dark, .dimmed,.muted, .transparent{
  padding: $padding;
  margin:$padding 0;
}
.colored{
  background: $primary-color;
}
.dark{
  background: $dark;
}
.dimmed{
  background: lighten($dark, 50%);
}
.muted{
  background: $mute;
}
.highlight{
  color: $primary-color;
}
.center{
  text-align: center;
}

.block{
  display: block;
  &-i{
    display: inline-block;
  }
}

@for $i from 1 through 4 {
  // left and right margins
	.ms-#{$i} {
    margin: 0 ($i * $padding/2);
  }
  // top and bottom margins 
	.mt--#{$i} {
    margin: ($i * $padding/2) 0;
  }
}

@for $i from 1 through 6 {
  h#{$i}{
    font-size: 2rem - ($i*.25);
  }
}

@mixin viewport ($width: $max-width){
  width:100%;
  max-width: $width;
  margin:0 auto;
  @content;
}